* {
  margin: 0;
  padding: 0;
}
header {
  margin: 40px 280px 25px;
  padding: 5px 0;
  background-color: crimson;
  text-align: center;
  border: 4px double rgb(27, 0, 0);
}
input {
  margin-left: 370px;
  border: 1px solid black;
  padding: 40px 180px;
}
#add {
  padding: 5px 20px;
  margin-left: 820px;
  top: 186px;
  position: absolute;
}
h2 {
  margin-left: 120px;
}
div {
  margin: 30px 120px 15px;
}
big {
  font-size: 1.7rem;
}
.delete {
  padding: 4px 6px 0;
  margin-left: 8px;
}
